@charset "UTF-8";
@use "./mixins" as mix;
@use "./variables" as var;

html {
    scroll-behavior: smooth;
    font-size:62.5%; // 10px
}

body {
    box-sizing: border-box;
    padding: 10px;
    font-size: clamp(1.4rem,2vw,1.6rem);
    background-color: #080F0F;
    color: var.$base-white;
}


a {
    color: inherit;
    text-decoration: none;
    &:hover {
        opacity: 0.8;
    }
}


.grey-card {
    background-color: var.$accent-black;
    border-radius: 10px;
}