<!DOCTYPE html>

<html lang="JA">
  <head>
    <title>Marian Maschke</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="css/main_ger.css" />
  </head>
  <body class="is-preload">
    <!-- Header -->
    <div id="header">
      <div id="option-header">
        <div id="language-bar">
          <!--Grid with 4 icons-->
          <!--1. Add active marker
	2. Fix mobile positioning-->
          <a href="../index.html">
            <img id="eng-icon" src="../icons/english_icon.png" alt="ENG" />
          </a>
          <a href="./index_ger.html">
            <img id="ger-icon" src="../icons/german_icon.png" alt="GER" />
          </a>
          <a href="./index_ja.html">
            <img id="jp-icon" src="../icons/japanese_icon.png" alt="JAP" />
          </a>
          <a href="./index_zh.html">
            <img id="zh-icon" src="../icons/chinese_icon.png" alt="CHN" />
          </a>
        </div>
      </div>

      <div class="top">
        <!-- Logo -->
        <div id="logo">
          <span class="image avatar48"
            ><img src="../images/avatar3.jpg" alt=""
          /></span>
          <h1 id="title">Marian Maschke</h1>
          <p>Web Developer/ Web Designer</p>
        </div>

        <!-- Nav -->
        <nav id="nav">
          <ul>
            <li>
              <a href="#top" id="top-link"
                ><span class="icon solid fa-home">タイトル</span></a
              >
            </li>
            <li>
              <a href="#portfolio" id="portfolio-link"
                ><span class="icon solid fa-th">ポートフォリオ</span></a
              >
            </li>
            <li>
              <a href="#services" id="services-link"
                ><span class="icon solid fa-envelope">サービス</span></a
              >
            </li>
            <li>
              <a href="#about" id="about-link"
                ><span class="icon solid fa-user">紹介</span></a
              >
            </li>
            <li>
              <a href="#contact" id="contact-link"
                ><span class="icon solid fa-envelope">連絡</span></a
              >
            </li>
          </ul>
        </nav>
      </div>

      <div class="bottom">
        <!-- Social Icons -->
        <ul class="icons">
          <!--Issue: Change Facebook Icon to LinkedIn-->
          <li>
            <a
              target="_blank"
              href="https://www.linkedin.com/in/marian-maschke-521974a4/"
              class="icon brands fa-linkedin-in"
              ><span class="label">LinkedIn</span></a
            >
          </li>
          <li>
            <a
              target="_blank"
              href="https://github.com/Marian-L-M/Marian-L-M"
              class="icon brands fa-github"
              ><span class="label">Github</span></a
            >
          </li>
          <li>
            <a
              href="mailto:marianlmaschke@gmail.com"
              class="icon solid fa-envelope"
              ><span class="label">Email</span></a
            >
          </li>
        </ul>
      </div>
    </div>

    <!-- Banner -->
    <div id="banner">
      <section id="top" class="one dark cover">
        <div class="container">
          <header>
            <h2 class="alt">
              <strong>よこそ！</strong><br />
              名古屋市のとこら辺のWEBデザイナーと開発者です。
            </h2>
            <!-- <p>
              I also do Graphic Design, Translation, Creative Writing,
              Fotography
            </p> -->
          </header>

          <footer>
            <!--issue insert CV Link-->
            <a href="" class="button scrolly">See full CV</a>
          </footer>
        </div>
      </section>
    </div>
    <!-- Main -->
    <div id="main">
      <!-- Intro -->

      <!-- Portfolio -->
      <!--Issue: Add href to images-->
      <section id="portfolio">
        <h2>ポートフォリオ</h2>
        <div class="row">
          <article class="col-6 col-12-xsmall work-item">
            <a href="" class="portfolio fit thumb"
              ><img src="../images/pic02.jpg" alt=""
            /></a>
            <h3>Magna sed consequat tempus</h3>
            <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
          </article>
          <article class="col-6 col-12-xsmall work-item">
            <a href="" class="portfolio fit thumb"
              ><img src="../images/planet2.jpg" alt="Eternity of Magic"
            /></a>
            <h3>Eternity Of Magic</h3>
            <p>An epic fanatsy encyclopedia and YouTube audiobook.</p>
          </article>
          <article class="col-6 col-12-xsmall work-item">
            <a href="" class="portfolio fit thumb"
              ><img src="../images/pic03.jpg" alt=""
            /></a>
            <h3>Tortor metus commodo</h3>
            <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
          </article>
          <article class="col-6 col-12-xsmall work-item">
            <a href="" class="portfolio fit thumb"
              ><img src="../images/pic04.jpg" alt=""
            /></a>
            <h3>Quam neque phasellus</h3>
            <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
          </article>
          <article class="col-6 col-12-xsmall work-item">
            <a href="" class="portfolio fit thumb"
              ><img src="../images/pic05.jpg" alt=""
            /></a>
            <h3>Nunc enim commodo aliquet</h3>
            <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
          </article>
          <article class="col-6 col-12-xsmall work-item">
            <a href="" class="portfolio fit thumb"
              ><img src="../images/pic05.jpg" alt=""
            /></a>
            <h3>Risus ornare lacinia</h3>
            <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
          </article>
        </div>
      </section>
      <!-- Portfolio Button-->
      <div class="actions" id="portfolio-button">
        <a href="#" class="button">Full Portfolio</a>
      </div>

      <!-- Services -->
      <section id="services">
        <h2>サービス</h2>
        <div class="row">
          <article class="col-6 col-12-xsmall work-item" id="wdgn-widget">
            <a href="" class="portfolio fit thumb"
              ><img src="../images/pic02.jpg" alt=""
            /></a>
          </article>
          <article class="col-6 col-12-xsmall work-item" id="wdgn-text">
            <h3>Web Design</h3>
            <p>I make pretty custom websites</p>
            <p>Maybe Wordpress one day</p>
          </article>
          <article class="col-6 col-12-xsmall work-item" id="wdev-widget">
            <a href="" class="portfolio fit thumb"
              ><img src="../images/pic05.jpg" alt=""
            /></a>
          </article>
          <article class="col-6 col-12-xsmall work-item" id="wdev-text">
            <h3>Web-Development</h3>
            <p>Django</p>
            <p>MERN Stack</p>
          </article>
          <article class="col-6 col-12-xsmall work-item" id="trans-widget">
            <a href="" class="portfolio fit thumb"
              ><img src="../images/pic05.jpg" alt=""
            /></a>
          </article>
          <article class="col-6 col-12-xsmall work-item" id="trans-text">
            <h3>Translation and International Communication</h3>
            <p>
              Professional texting and creative writing in English and German
            </p>
            <p>Proficient in Japanese, Chinese, English, German</p>
            <p>
              Experienced in working in an International working environment and
              confident in overcoming intercutural challenges.
            </p>
          </article>
        </div>
      </section>
      <!-- About Me -->
      <section id="about" class="three">
        <div class="container">
          <header>
            <h2>自分の紹介</h2>
          </header>

          <a href="#" class="image featured"
            ><img src="../images/pic08.jpg" alt=""
          /></a>

          <p>
            Besides programming and design work, I am huge Asia nerd Born and
            raised in Germany, I always had a passion for foreign languages. In
            highschool, I signed up for every language course I could find,
            trying out French, Italian, and Spanish along the way. However, my
            true passion always lay in the culture and language of the far east.
            I studied business and Chinese language at university. Living in
            China for two years (Qingdao, Xi'An, Changchun), working for a
            placement agency, as well as studying the culture and the language
            at university.
          </p>
          <p>
            <ul>
              <h3>マシュケ・マリアン　｜　Maschke・Marian</h3>
              <li>ドイツモルス市出身（ケルン近くの小さい町）。</li>
              <li>OS：Mac OS, Windows, Ubuntu 18.04</li>
              <li>Web： HTML5, CSS3, Bootstrap</li>
              <li>Javscript：React, Node</li>
              <li>Python：Django</li>
              <li>Prototyping: Figma</li>
              <li>デザイン：Adobe Photoshop, Adobe Illustrator, Affinity Photo, Affinity Designer</li>
              <li>言語：日本語（流暢・N2）、英語（完全専門レベル）、中国語（流暢・HSK6)、ドイツ語（母国語）</li>
              <li>カメラ：Sony a6400</li>
            </ul>
          </p>

        </div>
      </section>
      <!-- Issue 1 Hook up form-->
      <!-- Contact -->
      <section id="contact" class="four">
        <div class="container">
          <header>
            <h2>連絡</h2>
          </header>

          <p>
            Thank you for taking the time to read through my portfolio! Feel
            free to drop me a message to leave some feedback, for work
            inquiries, or just to have a casual chat.
          </p>

          <form method="post" action="#">
            <div class="row">
              <div class="col-6 col-12-mobile">
                <input type="text" name="name" placeholder="Name" />
              </div>
              <div class="col-6 col-12-mobile">
                <input type="text" name="email" placeholder="Email" />
              </div>
              <div class="col-12">
                <textarea name="message" placeholder="Message"></textarea>
              </div>
              <div class="col-12">
                <input type="submit" value="Send Message" />
              </div>
            </div>
          </form>
        </div>
      </section>
    </div>

    <!-- Footer -->
    <div id="footer">
      <!-- Copyright -->
      <ul class="copyright">
        <li>&copy; Marian Maschke. All rights reserved.</li>
      </ul>
    </div>

    <!-- Scripts -->
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/jquery.poptrox.min.js"></script>
    <script src="../assets/js/jquery.scrolly.min.js"></script>
    <script src="../assets/js/jquery.scrollex.min.js"></script>
    <script src="../assets/js/browser.min.js"></script>
    <script src="../assets/js/breakpoints.min.js"></script>
    <script src="../assets/js/util.js"></script>
    <script src="../assets/js/main.js"></script>
  </body>
</html>
