// Base Colors

$base-black:#252627;
$accent-black: #23231A;

$base-white:#EFF1F3;
$main-yellow: #FED766;
$main-purple: #642CA9;
$dark-purple: #1F2041;
$purple-accent: #8A8ABF;
$purple-accent-2: #5F5F7F;


$main-orange: #BE5A38;

$main-color: $main-orange;
$secondary-color: #a7c6da;

$accent-1: #F2EFE9;
$accent-1: #dddbf1;

// Global settings

$text-black: #000000;
$text-white: #ffffff;