// Imports

@font-face {
    font-family: staatliches-reg;
    src: url(../fonts/Staatliches-Regular.ttf);
  }
  



// Type Settings
h1,
.h1-like {
    font-family: staatliches-reg;
    font-size: clamp(4rem, 6vw,7rem);
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 100%;
}
h2,
.h2-like {
    font-family: staatliches-reg;
    font-size: clamp(2rem, 3.3vw,4rem);
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 120%;
}
h3,
.h3-like {
    font-size: clamp(2rem, 3vw,2.4rem);
    font-weight: bold;
    letter-spacing: 0.1em;
}

.t-upper {
    text-transform: uppercase;
}

.f-staatliches {
    font-family: staatliches-reg;
}


$f-sans: Verdana, Geneva, Tahoma, sans-serif;;
.f-sans {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

$f-mono: 'Courier New', Courier, monospace;
.f-mono {
    font-family: 'Courier New', Courier, monospace;
}