@charset "UTF-8";
@use "./mixins" as mix;
@use "./variables" as var;

// Components
.cta-text {
    font-family: var.$title-font;
    font-size: clamp(24px,4vw,48px);
    font-weight: bolder
}
// Section
// Landing
.top-landing {
    @include mix.fx-row();
    align-items: center;
    margin: clamp(40px, 10vw, 100px) auto;
    h1 {
        margin: 0 0 0 6%;
        max-width: 70%;
    }
    .slide-up-container {
        width: 100%;
        @include mix.fx-center-content();
        .slider-wrapper {
            width: 100%;
            h1 {
                line-height: 160%;
            }
            .slider {
                display: inline-block;
                height: calc(1em * 1.2);
                margin:  0 0 -0.4em 0.2em;
                overflow-y: hidden;

                background-color: var.$base-black;
                color: var.$text-white;
                text-align: center; 
                padding: 0.1em 0.5em;
                .slider-text {
                    animation: text-slide 16s infinite 2s;
                    line-height: 120%;
                }

            }
        }
    }
    .profile-container {
        width: clamp(200px,32vw,600px);
        min-width: clamp(200px,32vw,600px);
        margin: 0 6% 0 0;
        img {
            border-radius: 50%;
        }
    }
}
.title-cta {
    margin: auto 0 auto 6%;
    padding: 0.5em 1em;

    background-color: var.$main-pink;
    border: 0.1em solid var.$text-black;


    line-height: 100%;
}

$scale-factor: -1.2;
@keyframes text-slide {
    0% {
        transform: translateY(calc(0 * 1em * $scale-factor));
        opacity: 1;
        filter: blur(0px);
    }
    12% {
        transform: translateY(calc(0 * 1em * $scale-factor));
    }
    16% {
        transform: translateY(calc(1 * 1em * $scale-factor));
    }
    26% {
        transform: translateY(calc(1 * 1em * $scale-factor));
    }
    30% {
        transform: translateY(calc(2 * 1em * $scale-factor));
    }
    40% {
        transform: translateY(calc(2 * 1em * $scale-factor));
    }
    44% {
        transform: translateY(calc(3 * 1em * $scale-factor));
    }
    54% {
        transform: translateY(calc(3 * 1em * $scale-factor));
    }
    58% {
        transform: translateY(calc(4 * 1em * $scale-factor));
    }
    68% {
        transform: translateY(calc(4 * 1em * $scale-factor));
    }
    72% {
        transform: translateY(calc(5 * 1em * $scale-factor));
    }
    82% {
        transform: translateY(calc(5 * 1em * $scale-factor));
    }
    86% {
        transform: translateY(calc(6 * 1em * $scale-factor));
    }
    96% {
        transform: translateY(calc(6 * 1em * $scale-factor));
        opacity: 1;
        filter: blur(0px);
    }
    100% {
        transform: translateY(calc(0 * 1em * $scale-factor));
        opacity: 0.2;
        filter: blur(2px);
    }
}