@charset "UTF-8";
@use "../mixins" as mix;
@use "../variables" as var;
@use "./hamburger";

header {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: var.$header-height;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var.$base-white;
    box-sizing: border-box;
    padding: 1rem var.$header-spacer 1rem calc(1.5 * var.$header-spacer);
    z-index: 400;
    border-radius: 10px;
    .logo-container {
        display: block;
        width: 50px;
        height: 50px;
        background-color: var.$base-black;
    }
    nav {
        width: 50%;

        display: flex;
        justify-content: space-between;
    }
     ul {
        display: flex;
        justify-content: space-evenly;
        font-size: clamp(1.6rem ,2vw,2rem);
        li {
            
        }
        &.nav-btns {
            width: 100%; 
            li {
                display: block;
                position: relative;
                padding: 0em 0.5em;
                overflow-x: hidden;
                a {
                    position: relative;
                    z-index: 2;
                }  
                &:after {
                    content: "";
                    position: absolute;
                    display: block;
                    left: -100%;
                    top: 0.2em;
                    height: 1em;
                    width: 100%;
                    opacity: 0;
                    z-index: 0;
                    background-image: url(../img/common/brush-stroke.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    transition: 
                        opacity 0.2s ease-out,
                        left 0.2s ease-out;
                }
                &:hover {
                    a {
                        opacity: 1;
                    }
                    &:after {
                        opacity: 1;
                        left: 0;
                    }
                }  
            }
        }
        &.sns-btns {
            li {
                svg {
                    width: 1em;
                    height: 1em;
                }
            }
        }
     }
}

.header-item {
    margin: auto 0.5em;
}
@media screen and (min-width: var.$mobile-breakpoint) {
    .hamburger-container {
        display: none;
    }
}