.flag {
    margin: 0 auto;
}

.flag *
{
    position: absolute;
    box-sizing:content-box;
    -moz-box-sizing:content-box;
}

#china
{
    position: relative;
    background: #de2910;
    width: 225px;
    height: 150px;
}

#china .star {
    display: block;
    position: absolute;
    top: 19px;
    left: -12px;
    width: 0px;
    height: 0px;
    border-right: 50px solid transparent;
    border-bottom: 35px solid #ffde00;
    border-left: 50px solid transparent;
    -moz-transform: rotate(35deg) scale(0.45, 0.45);
    -webkit-transform: rotate(35deg) scale(0.45, 0.45);
    -ms-transform: rotate(35deg) scale(0.45, 0.45);
    -o-transform: rotate(35deg) scale(0.45, 0.45);
}

#china .star:before {
    content: '';
    display: block;
    position: absolute;
    top: -22.5px;
    left: -32.5px;
    height: 0;
    width: 0;
    border-bottom: 40px solid #ffde00;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    -webkit-transform: rotate(-35deg);
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(-35deg);
}

#china .star:after {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: -52.5px;
    width: 0px;
    height: 0px;
    border-right: 50px solid transparent;
    border-bottom: 35px solid #ffde00;
    border-left: 50px solid transparent;
    -webkit-transform: rotate(-70deg);
    -moz-transform: rotate(-70deg);
    -ms-transform: rotate(-70deg);
    -o-transform: rotate(-70deg);
}

#china .star-main {
    top: 19px;
    left: -12px;
    -moz-transform: rotate(35deg) scale(0.45, 0.45);
    -webkit-transform: rotate(35deg) scale(0.45, 0.45);
    -ms-transform: rotate(35deg) scale(0.45, 0.45);
    -o-transform: rotate(35deg) scale(0.45, 0.45);
}

#china .star-sub1 {
    top: -3px;
    left: 25px;
    -moz-transform: rotate(55deg) scale(0.12, 0.12);
    -webkit-transform: rotate(55deg) scale(0.12, 0.12);
    -ms-transform: rotate(55deg) scale(0.12, 0.12);
    -o-transform: rotate(55deg) scale(0.12, 0.12);
}

#china .star-sub2 {
    top: 12px;
    left: 40px;
    -moz-transform: rotate(10deg) scale(0.12, 0.12);
    -webkit-transform: rotate(10deg) scale(0.12, 0.12);
    -ms-transform: rotate(10deg) scale(0.12, 0.12);
    -o-transform: rotate(10deg) scale(0.12, 0.12);
}

#china .star-sub3 {
    top: 35px;
    left: 40px;
    -moz-transform: rotate(33deg) scale(0.12, 0.12);
    -webkit-transform: rotate(33deg) scale(0.12, 0.12);
    -ms-transform: rotate(33deg) scale(0.12, 0.12);
    -o-transform: rotate(33deg) scale(0.12, 0.12);
}

#china .star-sub4 {
    top: 50px;
    left: 25px;
    -moz-transform: rotate(35deg) scale(0.12, 0.12);
    -webkit-transform: rotate(55deg) scale(0.12, 0.12);
    -ms-transform: rotate(35deg) scale(0.12, 0.12);
    -o-transform: rotate(35deg) scale(0.12, 0.12);
}

#united-kingdom
{
    position: relative;
    background-color: #00247d;
    background-image: linear-gradient(#cf142b 30px, transparent 30px), linear-gradient(90deg, #cf142b 30px, transparent 30px), 
	linear-gradient(#ffffff 50px, transparent 50px), linear-gradient(90deg, #ffffff 50px, transparent 50px), 
	linear-gradient(25deg, transparent 35px, #cf142b 35px, #cf142b 45px, transparent 45px), linear-gradient(25deg, transparent 30px, #ffffff 30px, #ffffff 55px, transparent 55px), 
	linear-gradient(-25deg, transparent 45px, #cf142b 45px, #cf142b 55px, transparent 55px), linear-gradient(-25deg, transparent 35px, #ffffff 35px, #ffffff 60px, transparent 60px), 
	linear-gradient(-25deg, transparent 45px, #cf142b 45px, #cf142b 55px, transparent 55px), linear-gradient(-25deg, transparent 40px, #ffffff 40px, #ffffff 65px, transparent 65px), 
	linear-gradient(25deg, transparent 55px, #cf142b 55px, #cf142b 65px, transparent 65px), linear-gradient(25deg, transparent 45px, #ffffff 45px, #ffffff 70px, transparent 70px);
    background-size: 300px 90px, 165px 150px, 300px 100px, 175px 150px, 125px 50px, 125px 50px, 125px 50px, 125px 50px, 125px 50px, 125px 50px, 125px 50px, 125px 50px;
    background-position: 0 -30px, -30px 0, 0 -50px, -50px 0, 0 0, 0 0, 175px 0, 175px 0, 0 100px, 0 100px, 175px 100px, 175px 100px;
    background-repeat: repeat, repeat, repeat, repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    width: 300px;
    height: 150px;
}

#germany
{
    background-image: -webkit-linear-gradient(#000000 33%, #dd0000 33%, #dd0000 66%, #ffce00 66%);
    background-image: -o-linear-gradient(#000000 33%, #dd0000 33%, #dd0000 66%, #ffce00 66%);
    background-image: -moz-linear-gradient(#000000 33%, #dd0000 33%, #dd0000 66%, #ffce00 66%);
    background-image: linear-gradient(#000000 33%, #dd0000 33%, #dd0000 66%, #ffce00 66%);
    width: 250px;
    height: 133px;
}

#japan
{
    position: relative;
    background: #ffffff;
    width: 225px;
    height: 150px;
    border: 1px solid #dddddd;
}

#japan .middle
{
    display: block;
    width: 91px;
    top: 29px;
    left: 67px;
    height: 91px;
    background: #bc002d;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

#lang_chinese {
    width: 1%
}