/* Color Palette
    Set.1 
    Reference -> Deep Champagne: #F7CF9B
    Turquoise: #00D9C0
    Radical Red: #FF4365
    Gray Web: #7A7D7D
    Dark Liver: #565254

    Set.2
    Reference ->
    Pale Silver: #c7c2c2;
    Mindaro: #D6FF79
    Mint Green: #B0FF92
    English Violet: #5C415D
    Rose Taupe: #8B575C

    Section colors:
    portfolio: #B491B4
    photography: #8B575C
    Translation & creative writing: #B8B8FF
    About me: #97F9F9
    Contact: #FFED65

*/

html {
  background-color: #161616;
}

h1 {
  font-size: 3.5rem;
  color: whitesmoke;
  background-color: #8b575c;
  padding: 10px 10px 10px 10px;
}

h2 {
  position: absolute;
  font-size: 2.5rem;
  color: whitesmoke;
  background-color: #5c415d;
  margin: 4px 4px 4px 4px;
  padding: 4px 4px 4px 4px;
  z-index: 1000;
}

.container {
  width: 70%;
  max-width: 2058px;
}

.right-h2 {
  right: 20px;
  z-index: 1000;
}

.right-img {
  /* position: absolute;
  right: 10px; */
  z-index: 0;
}

span {
  font-weight: 900;
  font-size: 1.2rem;
}

header {
  background-color: #faf0fa;
  /* border: 4px groove #8b575c; */
}

.col {
  padding: 4px 4px 4px 4px;
}
section {
  margin-bottom: 50px;
  /* height: 40vh; */
}

section img {
  width: 90%;
  max-width: 800px;
  margin-left: 2%;
  border-radius: 1%;
}

/* Header - Default */
header .row {
  height: 70vh;
}

.right-col,
.left-col {
  height: 100%;
}

.right-col h2 {
  color: whitesmoke;
  background-color: #5c415d;
}
/* Intro section */
#introduction {
  height: 100vh;
}

#introduction p {
  background-color: #faf0fa;
}

/* Portfolio section */

#portfolio {
  background: #b491b4;
}

.portfolio-item {
  padding: 10px;
}

#portfolio h2 {
  margin-left: 2%;
}

/* Photography section */

#photography {
  background: #8b575c;
}

/* Translation Section */

#translation {
  background: #b8b8ff;
}

/* About Section */

#about {
  background: #97f9f9;
}

/* Contact Section */

#contact {
  background: #ffed65;
}

/* Footer */

footer {
  background-color: black;
  width: 100%;
  min-height: 10vh;
}

.sns-icons {
  display: flex;

  align-content: center;
  justify-content: center;
}

footer .icon {
  font-size: 2rem;
  margin-top: 4vh;
  margin-left: 1rem;
  color: #c7c2c2;
}

footer .icon:hover {
  color: #00d9c0;
  transition: 0.5s;
}
