@charset "UTF-8";

// Colors
$base-color: #FFDCA8;
$main-color: #FFDCA8;

$base-black: #021919;
$base-white: #ffffff;
$base-grey: #808080;
$light-grey: #d3d3d3;

$main-purple: #6320ee;
$main-green: #71f79f;
$main-pink: #E84855;
$main-yellow: #F1D302;
$c-bordeau: #5F021F;

$accent-1: #C7CCDB;
$accent-2: #767B91;
$accent-3: #E1E5EE;
// Color Mapping
$bg-color: $base-color;
$font-color: $base-black;

$text-black: $base-black;
$text-black-hover: $base-grey;

$text-white: $base-white;
$text-white-hover: $light-grey;