@charset "UTF-8";

// Colors
$base-color: #FFDCA8;
$main-color: #FFDCA8;

$base-black: #000000;
$base-white: #ffffff;
$base-grey: #808080;
$light-grey: #d3d3d3;

$main-pink: #E24BC0;
$c-bordeau: #5F021F;

// Color Mapping
$bg-color: $base-color;
$font-color: $base-black;

$text-black: $base-black;
$text-black-hover: $base-grey;

$text-white: $base-white;
$text-white-hover: $light-grey;