@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400;500;700;900&family=Permanent+Marker&display=swap');

$base-font: 'Roboto', sans-serif;
$font-hand: 'Permanent Marker', cursive;

// Title font
$title-font: 'Bebas Neue', cursive;

// 36px Text-logo text
// 26px Nav Btns

.font-bbn {
    font-family: $title-font;
}
.font-roboto {
    font-family: 'Roboto', sans-serif;
}

.font-hand {
    font-family: 'Permanent Marker', cursive;
}

h1,
.h1-like {
    font-size: clamp(36px,4vw,63px);
    letter-spacing: 0;
    line-height: 120%;
    font-family: 'Bebas Neue', cursive;
}

h3,
.h3-like {
    font-size: clamp(18px,2vw,24px);
}
.p-36 {
    font-weight: 700;
    font-size: clamp(24px,3vw,36px);
}

.p-26 {
    font-size: clamp(18px,2vw,26px);
}
